@page "/admin"


@layout AdminLayout

<div class="admin-home-container">
    <div class="admin-home-content text-center">

        <h1>Bienvenido, Administrador</h1>
        <p class="welcome-text">
            Utilice las herramientas a su disposición para gestionar el contenido y la operativa del sistema.
        </p>


    </div>
</div>

@code {
    // No se necesita lógica adicional aquí por ahora.
}
