@inherits LayoutComponentBase

<div class="admin-layout">
    <SideNav />
    <main class="main-content">
        <div class="page-content-wrapper">
            @Body
        </div>
    </main>
</div>

@code {
    // Nada de initLoginAnimation aquí.
}
