<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <h3>Página no encontrada</h3>
        <a href="/">Ir al inicio</a>
    </NotFound>
</Router>

